.purple-button {
    -fx-padding: 5px;
    -fx-background-color: #9b66ad;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.purple-button:hover {
    -fx-background-color: #640f73;
    -fx-font-size: 13;
}

.main-title {
    -fx-font-family: "Bauhaus 93";
    -fx-font-size: 30;
    -fx-text-alignment: center;
    -fx-pref-height: 200;
    -fx-text-fill: #640f73;
}

.player-label {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.card-pane {
    -fx-background-color: white;
    -fx-border-color: #9b66ad;
    -fx-border-width: 2;
}

list-cell {
    -fx-background-insets: 10 10 10 10;
}

